/* 公共样式类 */
html,
body {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #666;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

* html .clearfix {
  height: 1%;
  zoom: 1;
}

.clearfix {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center;
}

/********************* 页面样式 *********************/
.common-page {
  background: #ebebec;
  padding: 30px ;
}

.common-card {
  background: #fff;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  padding: 20px 30px;
}

.common-card .title .big-title {
  font-size: 18px;
  line-height: 20px;
  color: #c30621;
  position: relative;
}

.common-card .title .big-title::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #c30621;
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
}

.common-card .title .big-title.noBorder::before {
  display: none;
}

.common-card .title .sub-title {
  font-size: 12px;
  color: #666666;
  line-height: 20px;
}

.common-card .desc {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  margin-top: 10px;
}

.card-top .link a {
  text-decoration: underline;
  color: #3f63ff;
}

.card-body .data-box {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
}

.data-num {
  color: #f66767;
  font-size: 18px;
}

.data-num .unit {
  font-size: 14px;
  margin-left: 5px;
}

.data-title {
  color: #5c5c5c;
  font-size: 14px;
}

.trend {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f66767;
}

.trend.up {
  border-width: 0 10px 10px;
  border-color: transparent transparent #f66767;
}

.trend.down {
  border-width:  10px 10px 0;
  border-color: #f66767 transparent transparent ;
}

.filter-wrap {
  margin-bottom: 15px;
  color: #666666;
}

.filter-wrap .layui-form-item {
  display: inline-block;
}

.filter-wrap .range-box {
  min-width: 230px;
  display: inline-block;
  position: relative;
}

.filter-wrap .range-box input {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding-left: 30px;
  color: #666666;
}

.filter-wrap .date-icon {
  width: 14px;
  height: 15px;
  background: url('../images/icons.png') -10px -47px;
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
}

.filter-wrap .layui-btn {
  position: relative;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  color: #666666;
}

.filter-wrap .user-icon {
  width: 15px;
  height: 15px;
  background: url('../images/icons.png') -48px -10px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.filter-wrap .filter-user {
  position: relative;
  display: inline-block;
}

.filter-wrap .user-icon2 {
  width: 18px;
  height: 18px;
  background: url('../images/icons.png') -10px -10px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.filter-wrap .layui-form-select {
  max-width: 160px;
  display: inline-block;
}

.filter-wrap .layui-form-select .layui-input {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  color: #666;
  padding-left: 30px;
}

.filter-wrap .layui-btn.active,
.filter-wrap .layui-form-select .layui-input.active {
  border-color: red;
}

.filter-wrap .layui-badge {
  background-color: #ed4860;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}