/* 公共样式类 */
html,
body {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #666;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

* html .clearfix {
  height: 1%;
  zoom: 1;
}

.clearfix {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center;
}

.noMargin {
  margin: 0 !important;
}

/********************* 页面样式 *********************/
.common-page {
  background: #ebebec;
  padding: 30px;
}

/* 底部操作按钮区域 */
.page-bottom-btns {
  padding: 40px 0;
  text-align: center;
}

/* 常规卡片 */
.common-card {
  background-color: #fff;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  padding: 20px 30px;
}

.common-card .title .big-title {
  font-size: 18px;
  line-height: 20px;
  color: #c30621;
  position: relative;
}

.common-card .title .big-title::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #c30621;
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
}

.common-card .title .big-title.noBorder::before {
  display: none;
}

.common-card .title .sub-title {
  font-size: 12px;
  color: #666666;
  line-height: 20px;
}

.common-card .desc {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  margin-top: 10px;
}

.card-top .link a {
  text-decoration: underline;
  color: #3f63ff;
}

.card-body {
  position: relative;
}

.card-bottom {
  border-top: 1px solid #d2d2d2;
  padding-top: 30px;
}

.card-body .data-box {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
}

.data-num {
  color: #f66767;
  font-size: 18px;
}

.data-num .unit {
  font-size: 14px;
  margin-left: 5px;
}

.data-title {
  color: #5c5c5c;
  font-size: 14px;
}

.trend {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f66767;
}

.trend.up {
  border-width: 0 10px 10px;
  border-color: transparent transparent #f66767;
}

.trend.down {
  border-width: 10px 10px 0;
  border-color: #f66767 transparent transparent;
}

/* 顶部筛选区域 */
.filter-wrap {
  margin-bottom: 15px;
  color: #666666;
}

.filter-wrap .layui-form-item {
  display: inline-block;
}

.filter-wrap .range-box {
  min-width: 230px;
  display: inline-block;
  position: relative;
}

.filter-wrap .range-box input {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding-left: 30px;
  color: #666666;
}

.filter-wrap .date-icon {
  width: 14px;
  height: 15px;
  background: url('../images/icons.png') -10px -47px;
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
}

.filter-wrap .layui-btn {
  position: relative;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  color: #666666;
}

.filter-wrap .user-icon {
  width: 15px;
  height: 15px;
  background: url('../images/icons.png') -48px -10px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.filter-wrap .filter-user {
  position: relative;
  display: inline-block;
}

.filter-wrap .user-icon2 {
  width: 18px;
  height: 18px;
  background: url('../images/icons.png') -10px -10px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.filter-wrap .layui-form-select {
  max-width: 160px;
  display: inline-block;
}

.filter-wrap .layui-form-select .layui-input {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  color: #666;
  padding-left: 30px;
}

.filter-wrap .layui-btn.active,
.filter-wrap .layui-form-select .layui-input.active {
  border-color: red;
}

.filter-wrap .layui-badge {
  background-color: #ed4860;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.filter-wrap .search-box {
  position: relative;
}

.filter-wrap .search-box .layui-input {
  min-width: 260px;
}

.filter-wrap .search-box i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* 热力图表格 */
.hotMap-table {
  width: 280px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hotMap-table .layui-table-view,
.hotMap-table th {
  border: 0;
}

.hotMap-table td {
  border-width: 0 0 1px 0;
}

/* 特征页面-选择区域 */
.choosed-wrap {
  line-height: 42px;
}

.choosed-wrap .param-text {
  background: #f0f4f8;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding: 0 20px;
  line-height: 40px;
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 10px;
}


.choosed-wrap .text {
  font-size: 14px;
}

.choosed-wrap .total-text {
  color: #c30621;
  font-size: 18px;
  margin-left: 5px;
}

/********************* 自定义layui组件样式*********************/
/* 表格 */
.common-table .layui-table-view,
.common-table th {
  border: 0;
}

.common-table td {
  border-width: 0 0 1px 0;
}

.common-table .layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #d72a43 !important;
}

.common-table .layui-form-checked[lay-skin=primary] i {
  border-color: #d72a43 !important;
  background-color: #d72a43 !important;
}

/* tab切 */
.common-tab .layui-tab-title {
  border: 0;
  height: 50px;
}

.common-tab .layui-tab-title li {
  padding: 0;
  margin-right: 60px;
  font-size: 18px;
  line-height: 50px;
}

.common-tab .layui-tab-title .layui-this {
  color: #d94056;
  padding: 0;
}

.common-tab .layui-tab-title .layui-this::after,
.common-tab.layui-tab-brief>.layui-tab-more li.layui-this:after,
.common-tab.layui-tab-brief>.layui-tab-title .layui-this:after {
  border-bottom: 6px solid #d94056;
  height: 51px;
}

.common-tab .layui-tab-content {
  padding: 30px 0;
}

/* 按钮 */
.layui-btn.layui-btn-lg {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-radius: 4px;
}

.layui-btn.layui-btn-red {
  background-color: #f56868;
}

.layui-btn.layui-btn-blue {
  background-color: #5b99ea;
}

.layui-btn.layui-btn-green {
  background-color: #01a6bc;
}

/* 边框风格checkbox */
.layui-form-item .layui-form-checkbox[lay-skin=box] {
  border: 1px solid #d2d2d2;
  padding: 0;
  border-radius: 5px;
  height: 36px;
  line-height: 34px;
}

.layui-form-item .layui-form-checkbox[lay-skin=box] span {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0;
  padding: 0 20px;
  border-radius: 5px;
  position: relative;
}

.layui-form-item .layui-form-checkbox[lay-skin=box] span::before {
  content: '●';
  margin-right: 5px;
  color: #bababa;
  font-size: 12px;
}

.layui-form-item .layui-form-checkbox[lay-skin=box] i {
  display: none;
}

.layui-form-item .layui-form-checked[lay-skin=box],
.layui-form-item .layui-form-checked[lay-skin=box]:hover {
  background: #fff;
  border-color: #c30621;
}

.layui-form-item .layui-form-checked[lay-skin=box] span,
.layui-form-item .layui-form-checked[lay-skin=box]:hover span {
  color: #c30621 !important;
}

.layui-form-item .layui-form-checked[lay-skin=box] span::before {
  content: "✓";
  color: #c30621;
  font-size: 14px;
}

/* 页面顶部步骤step */
.step-page {
  padding: 0;
}

.step-page .layui-tab {
  margin: 0;
}

.step-page .step-top-wrap {
  background-image: -moz-linear-gradient(0deg, rgb(124, 187, 198) 0%, rgb(131, 166, 209) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(124, 187, 198) 0%, rgb(131, 166, 209) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(124, 187, 198) 0%, rgb(131, 166, 209) 100%);
  background-image: linear-gradient(0deg, rgb(124, 187, 198) 0%, rgb(131, 166, 209) 100%);
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 40px 0;
  height: 130px;
  padding: 20px 33% 10px 0;
  width: auto;
}

.step-page .step-top-wrap .layui-tab-title {
  border: 0;
}

.step-page .layui-tab-content {
  padding: 20px 30px;
}


.step-page .step-item {
  cursor: pointer;
  color: #fff;
}

.step-page .step-item::after {
  content: "";
  width: 60%;
  display: inline-block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 36px;
  left: 70%;
}

.step-page .step-item-last::after,
.step-page .step-item-last.layui-this::after {
  width: 0;
  border: 0;
}

.step-page .step-item .step-icon {
  width: 72px;
  height: 72px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.step-page .step-item.layui-this .step-icon {
  border: 1px solid #ec6c3f;
}

.step-page .step-text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 30px;
}

.table-btn {
  color: #3d62ff;
  text-decoration: underline;
  cursor: pointer;
}

.detail-layer .layui-layer-content {
  padding: 20px;
}

.layer-chart-card {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.layer-chart-card .title {
  color: #ff6d60;
  background: #f7f7f7;
  padding: 0 20px;
  line-height: 60px;
}

.layer-chart-card .btn-wrap {
  padding: 30px 0 20px 0;
}

.page-table .layui-table-page {
  text-align: right;
}

.page-table .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background: #ed8d75;
}

.page-table .layui-table-page .layui-laypage a {
  background: #f5f5f5;
  margin-right: 10px;
}