.step-page .step-item .step-icon.step1 {
  background: url('../images/step/step1.png') #fff no-repeat center;
}

.step-page .step-item .step-icon.step2 {
  background: url('../images/step/step2.png') #fff no-repeat center;
}

.step-page .step-item .step-icon.step3 {
  background: url('../images/step/step3.png') #fff no-repeat center;
}

.step-page .step-item .step-icon.step4 {
  background: url('../images/step/step4.png') #fff no-repeat center;
}

.step-page .step-item.layui-this .step-icon.step1 {
  background: url('../images/step/step1-active.png') #fff no-repeat center;
}

.step-page .step-item.layui-this .step-icon.step2 {
  background: url('../images/step/step2-active.png') #fff no-repeat center;
}

.step-page .step-item.layui-this .step-icon.step3 {
  background: url('../images/step/step3-active.png') #fff no-repeat center;
}

.step-page .step-item.layui-this .step-icon.step4 {
  background: url('../images/step/step4-active.png') #fff no-repeat center;
}

.step-page .layui-tab-content {
  padding: 0;
}

.step-page .layui-tab-content .layui-tab-item {
  margin: 30px;
}

/* 创建问卷 */
.tab-card {
  padding: 20px 10px;
}

.tab-card .common-tab .layui-tab-title li,
.tab-card .common-tab .layui-tab-title .layui-this {
  margin: 0;
}

.quest-card {
  padding: 0;
}

.quest-card .quest-top {
  padding: 20px 30px;
}

.quest-top .quest-title {
  background: #f0f4f8;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.quest-card .quest-body {
  box-shadow: 0px -5px 10px -5px rgba(226, 226, 226, 1);
  padding: 20px 30px;
}

.quest-body .input-title-wrap {
  margin-bottom: 10px;
}

.quest-body .input-title-wrap .input-title {
  border-width: 0 0 1px 0;
}

.quest-body .layui-form-label {
  width: 10px;
}

.quest-body .layui-form-label.required {}

.quest-body .layui-form-label.required::before {
  content: "*";
  color: #f96b6b;
}

.quest-body .layui-input-block {
  margin-left: 40px;
}

.box-inline {
  margin: 10px 0 10px 40px;
}

.box-inline .layui-input {
  max-width: 380px;
  display: inline-block;
}

.box-inline .type-icon {
  border: 1px solid rgb(181, 181, 181);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.box-inline .type-icon.circle-icon {
  border-radius: 50%;
}

.box-inline .type-icon.square-icon {
  border-radius: 5px;
}
.option-icon {
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
  vertical-align: middle;
}

.option-icon.option-add {
  width: 19px;
  height: 19px;
  background: url('../images/option-op.png') -49px -10px;
}

.option-icon.option-del {
  width: 19px;
  height: 19px;
  background: url('../images/option-op.png') -10px -10px;
}

.option-icon.option-up {
  width: 15px;
  height: 17px;
  background: url('../images/option-op.png') -10px -49px;
}

.option-icon.option-down {
  width: 14px;
  height: 17px;
  background: url('../images/option-op.png') -45px -49px;
}

.operate-wrap {
  background: #f0f4f8;
  border-radius: 2px;
  padding: 10px 40px;
  margin-bottom: 10px;
}

.operate-wrap input {
  margin-right: 5px;
}

.item-op {
  cursor: pointer;
  margin: 0 20px;
}

.item-op .item-icon {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.item-op .item-icon.item-link {
  width: 17px;
  height: 17px;
  background: url('../images/item-op.png') -48px -10px;
}

.item-op .item-icon.item-del {
  width: 18px;
  height: 18px;
  background: url('../images/item-op.png') -10px -10px;
}

.item-op .item-icon.item-up {
  width: 15px;
  height: 18px;
  background: url('../images/item-op.png') -10px -48px;
}

.item-op .item-icon.item-down {
  width: 15px;
  height: 18px;
  background: url('../images/item-op.png') -85px -10px;
}

.item-op a {
  text-decoration: underline;
  font-size: 14px;
  color: #666;
}

.noData {
  width: 350px;
  margin: 150px auto;
  height: 200px;
  background: url(../images/noData.png) no-repeat center;
  background-size: contain;
}

.rateInput {
  width: 50px;
}


.questTypeWrap .typeTitle {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
}

.typeName {
  display: inline-block;
  width: 48%;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  margin-bottom: 30px;
  cursor: pointer;
}

.type-icon {
  display: inline-block;
}

.typeName .type-icon.radio {
  width: 10px;
  height: 10px;
  background: url('../images/type-icon.png') -45px -45px;
}

.typeName .type-icon.checkbox {
  width: 15px;
  height: 11px;
  background: url('../images/type-icon.png') -10px -45px;
}

.typeName .type-icon.text {
  width: 8px;
  height: 12px;
  background: url('../images/type-icon.png') -84px -10px;
}

.typeName .type-icon.rateSingle {
  width: 17px;
  height: 15px;
  background: url('../images/type-icon.png') -10px -10px;
}

.typeName .type-icon.rateMulti {
  width: 17px;
  height: 15px;
  background: url('../images/type-icon.png') -47px -10px;
}

.outline-item {
  border-bottom: 1px solid rgb(181, 181, 181);
  padding: 20px 5px;
}

.phoneComputer-tab .layui-tab-title {
  background: #fff;
  height: 90px;
  padding: 0 30px;
}

.phoneComputer-tab .layui-tab-title li {
  color: #333;
  font-size: 16px;
  line-height: 90px;
  border: 1px solid #d7d7d7;
  border-width: 0 1px;
  padding: 0 40px;
}

.phoneComputer-tab .layui-tab-title .layui-this {
  color: #c30621;
}

.phoneComputer-tab .layui-tab-title .layui-this:after {
  display: none;
}

.phoneComputer-tab .tab-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.phoneComputer-tab .tab-icon.phone {
  width: 26px;
  height: 50px;
  background: url('../images/phone-computer.png') -10px -77px;
}

.phoneComputer-tab .tab-icon.computer {
  width: 49px; height: 47px;
  background: url('../images/phone-computer.png') -79px -10px;
}

.phoneComputer-tab .layui-this .tab-icon.phone {
  width: 26px;
  height: 50px;
  background: url('../images/phone-computer.png') -56px -77px;
}

.phoneComputer-tab .layui-this .tab-icon.computer {
  width: 49px;
  height: 47px;
  background: url('../images/phone-computer.png') -10px -10px;
}
.phoneComputer-tab .layui-tab-item .computer{
  background-image: url(../images/prev-bg.png);
  background-repeat: no-repeat;
  background-size: 98% 280px;
  background-position: left bottom;
  padding: 60px 60px 300px 60px;
}

.phone-tabContent{
  width: 520px;
  height: 1100px;
  margin: 30px auto;
  background: url('../images/phone-bg.png') no-repeat center/cover;
  position: relative;
}
.phone-tabContent .phoneWrap{
  position: absolute;
  top: 120px;
  left: 0;
  padding: 0 60px;
  bottom: 140px;
  right: 0;
  overflow-y: auto;
}
.questTitle{
  font-size: 24px;
  color: #c30621;
  text-align: center;
}
.preview-wrap .layui-form-item{
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.preview-wrap .layui-form-label.preview-title{
  width: 100%;
  text-align: left;
}
.preview-wrap .layui-input-block{
 margin-left: 40px;
}
.preview-wrap .box-inline>div{
  margin-bottom: 10px;
}
.submit-btn{
  text-align: center;
  margin-top: 50px;
}
.submit-btn button{
  background-image: -moz-linear-gradient( 90deg, rgb(187,174,158) 0%, rgb(214,210,206) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(187,174,158) 0%, rgb(214,210,206) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(187,174,158) 0%, rgb(214,210,206) 100%);
  border: 0;
  font-size: 16px;
  color: #fff;
  padding: 0 40px;
  line-height: 40px;
  border-radius: 4px;
}
